---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
---

<PageLayout
  title="404"
  description="The article you are looking for does not exist."
>
  <Container>
    <div class="flex flex-col gap-4 animate">
    <div class=" font-semibold text-black dark:text-white">
      The page you're looking for is not found.
    </div>
    <a href="/" class="animate underline "> Go Home </a>
    </div>

  </Container>
</PageLayout>
